root = true

[*]
indent_style = space

[*.xml]
indent_size = 2

[*.cs]
indent_size = 4
tab_width = 4
insert_final_newline = false
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0161.severity = none
dotnet_diagnostic.CA1051.severity = none

# Format rules
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false
